/* ===============================
   Amsterdamer Garamont Web Fonts
   =============================== */

@font-face {
  font-family: "Amsterdamer Garamont";
  src: url("font/Amsterdamer-Garamont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Amsterdamer Garamont";
  src: url("font/Amsterdamer-Garamont-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Amsterdamer Garamont";
  src: url("font/AmsterdamerGaramontBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Amsterdamer Garamont";
  src: url("font/AmsterdamerGaramontBoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* ===============================
   Global style
   =============================== */

body {
  font-family: "Amsterdamer Garamont", "Noto Serif Bengali", serif;
  font-size: 19px;
  line-height: 1.55;
  background: #ffffff;
  color: #000;
  margin: 0;
  padding: 0;
}

.page {
  width: 900px;
  margin: 30px auto;
}

/* ===============================
   Header layout
   =============================== */

.header-table {
  width: 100%;
  border-collapse: collapse;
}

.photo {
  width: 180px;
  vertical-align: top;
}

.photo img {
  width: 160px;
  height: auto;
}

.info {
  vertical-align: top;
  padding-left: 25px;
}

h1 {
  font-size: 2.2em;
  margin: 0 0 5px 0;
}

.position {
  font-style: italic;
  margin: 0 0 10px 0;
}

.affiliation,
.email {
  margin: 0;
}

/* ===============================
   Section styling
   =============================== */

h2 {
  font-size: 1.4em;
  margin-bottom: 8px;
}

hr {
  border: none;
  border-top: 1px solid #000;
  margin: 25px 0;
}

ul {
  padding-left: 25px;
}

li {
  margin-bottom: 6px;
}

/* ===============================
   Links (Oxford style)
   =============================== */

a {
  color: #0000cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.position {
  margin-bottom: 0.2em;
}

.correspondence {
  margin-top: 0.2em;
}





.photo {
  width: 120px;
  vertical-align: top;
  text-align: right;
}

.photo img {
  width: 230px;
  height: auto;
}



.logo {
  width: 100px;
  vertical-align: top;
  text-align: right;
}

.logo img {
  width: 100px;
  height: auto;
}

.bengali {
  font-family: "Noto Serif Bengali", serif;
  font-size: 0.95em;
}


.info-picture {
  width: 97.5%;
  border-collapse: collapse;
}

.info-picture .image img {
  width: 200px;
  height: auto;
}


/* ===============================
   Navigation bar (academic style)
   =============================== */

.nav {
  font-size: 0.95em;
  margin-bottom: 1.2em;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #000;
}

.nav a {
  color: #000;
  text-decoration: none;
  margin-right: 18px;
}

.nav a:hover {
  text-decoration: underline;
}
.nav .current {
  font-weight: bold;
}

/* ===============================
   Research paragraph with figure
   =============================== */

.research-block {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 0px;
}

.research-text {
  flex: 1;
}

.research-text h2 {
  margin-top: 0;
}

.research-figure img {
  width: 300px;     /* adjust if needed */
  height: auto;
 }


/* ===============================
   Gallery grid (3-column academic)
   =============================== */

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  margin-top: 30px;
}

.gallery-grid figure {
  margin: 0;
  text-align: center;
}

.gallery-grid img {
  width: 100%;
  height: auto;
  border: 0px solid #ccc;
  padding: 4px;
  background: #fff;
}

.gallery-grid figcaption {
  margin-top: 0px;
  font-size: 0.9em;
  color: #333;
  line-height: 1.3;
}