---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

<!-- Render by categories if defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}

      <!-- Publication entry -->
      <div class="pub-entry">
        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

        {% if post.status %}
          <p><em>{{ post.status }}</em></p>
        {% elsif post.venue %}
          <p>Published in {{ post.venue }}, {{ post.date | date: "%Y" }}</p>
        {% endif %}

        {% if post.citation %}
          <p class="citation">Recommended citation: {{ post.citation }}</p>
        {% endif %}
      </div>

    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <div class="pub-entry">
      <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

      {% if post.status %}
        <p><em>{{ post.status }}</em></p>
      {% elsif post.venue %}
        <p>Published in {{ post.venue }}, {{ post.date | date: "%Y" }}</p>
      {% endif %}

      {% if post.citation %}
        <p class="citation">Recommended citation: {{ post.citation }}</p>
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
