---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on
    <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </div>
{% endif %}

{% include base_path %}

{% for post in site.publications reversed %}
  <div class="pub-entry">
    <h3 class="pub-title">{{ post.title }}</h3>

    {% if post.status %}
      <p class="pub-status"><em>{{ post.status }}</em></p>
    {% elsif post.venue %}
      <p class="pub-venue">Published in {{ post.venue }}, {{ post.date | date: "%Y" }}</p>
    {% endif %}

    {% if post.citation %}
      <p class="pub-citation">Recommended citation: {{ post.citation }}</p>
    {% endif %}
  </div>
{% endfor %}
