---
layout: archive
title: "Contributed Talks"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link %}
  <p class="talkmap-link">
    <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
  </p>
{% endif %}

{% for post in site.talks reversed %}
  <div class="talk-entry">
    <h3 class="talk-title">{{ post.title }}</h3>

    {% if post.event %}
      <p class="talk-event"><strong>{{ post.event }}</strong></p>
    {% endif %}

    {% if post.date %}
      <p class="talk-date">{{ post.date | date: "%B %d, %Y" }}</p>
    {% endif %}

    {% if post.location %}
      <p class="talk-location">{{ post.location }}</p>
    {% endif %}

    {% if post.excerpt %}
      <p class="talk-excerpt">{{ post.excerpt }}</p>
    {% endif %}
  </div>
{% endfor %}
